@using Services.DTOs.AdminPanel.Course.CourseEpisode;
@model AddEpisodeDto
@{
    ViewData["Title"] = "افزودن قسمت";
}

<div class="w-full px-6 py-6 mx-auto">
    <div class="flex flex-wrap -mx-3">
        <div class="flex-none w-full max-w-full px-3">
            <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
                <div class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                    <h6 class="daark:text-white">@ViewData["Title"]</h6>
                </div>
                <div class="flex-auto px-0 pt-0 pb-2">
                    <div class="header-options">
                        <a class="px-8 py-2 text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px" asp-controller="ManageCourseEpisodes" asp-action="Index" asp-route-seasonId="@Model.SeasonId">مدیریت قسمت ها</a>
                    </div>
                    <div class="py-2 px-1 overflow-x-auto ps">
                        <form action="/Admin/ManageCourseEpisodes/AddEpisodes" enctype="multipart/form-data" method="post" id="form" class="grid grid-cols-1 gap-6 text-sm w-full sm:w-11/12">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="CourseId" />
                            <div>
                                <div id="profile-dashbord" class="form-control text-gray-700 my-4 mx-2">
                                    <label class="cursor-text">
                                        <i class="fa fa-user pl-[6px] text-gray-400"></i>
                                        عنوان قسمت :
                                    </label>
                                    <input type="text" asp-for="Title" id="title" data-max-chars="80" class="w-full py-2 px-4 mt-2 bg-slate-100 border focus:bg-sky-50 focus:border-gray-400 focus:shadow-md transition-all duration-300 rounded-lg outline-none">
                                    <span asp-validation-for="Title" class="block text-xs sm:font-semibold text-red-600 relative right-1 mt-2"></span>
                                </div>
                                <div class="grid md:grid-cols-2 gap-4">
                                    <div id="profile-dashbord" class="form-control text-gray-700 my-4 mx-2">
                                        <label class="cursor-text">
                                            <i class="far fa-clock pl-[6px] text-gray-400"></i>
                                            زمان قسمت :
                                        </label>
                                        <input type="text" step="3" asp-for="Time" readonly data-jdp class="time-picker w-full py-2 px-4 mt-2 bg-slate-100 border focus:bg-sky-50 focus:border-gray-400 focus:shadow-md transition-all duration-300 rounded-lg outline-none">
                                        <span asp-validation-for="Time" class="block text-xs sm:font-semibold text-red-600 relative right-1 mt-2"></span>
                                    </div>
                                    <div id="profile-dashbord" class="form-control text-gray-700 my-4 mx-2">
                                        <label class="cursor-text">
                                            <i class="fa fa-user pl-[6px] text-gray-400"></i>
                                            انتخاب فصل :
                                        </label><br />
                                        @Html.DropDownListFor(g => g.SeasonId,Model.SeasonList,
                                        null , new{@class = "w-full h-10 text-sm my-2 pr-2 outline-none text-black bg-slate-100 rounded-lg shadow-sm shadow-slate-400 drop-shadow-md border border-slate-200"})
                                        <span asp-validation-for="SeasonId" class="block text-xs sm:font-semibold text-red-600 relative right-1 mt-2"></span>
                                    </div>
                                </div>
                                <div id="profile-dashbord" class="form-control text-gray-700 my-4 mx-2">
                                    <label class="cursor-text">
                                        <i class="fa fa-dollar pl-[6px] text-gray-400"></i>
                                        فایل دوره :
                                        <span class="text-yellow-500">
                                            (<i class="fa fa-warning"></i> لطفا فایل ویدیویی جلسه و فایل مربوط به قسمت را درون یک فایل .rar قرار دهید و آن را بارگزاری کنید.)
                                        </span>
                                        <br />
                                        <span class="text-red-500">
                                            (<i class="fa fa-warning"></i> لطفا برای فایل مربوطه نام با مسما انتخاب کنید.مثل 01_AspNetCoreAdvance.)
                                        </span>
                                    </label>
                                    <label class="flex w-full sm:w-1/2 items-center justify-center relative py-2 px-4 mt-2 bg-sky-500 border shadow-lg border-sky-600 px-4 h-10 text-slate-100 rounded-lg hover:bg-sky-600 transition-colors duration-300">
                                        <input type="file" asp-for="EpisodeFile" id="episodeFile" accept=".rar" class="cursor-pointer w-11/12 opacity-0 absolute h-full">
                                        بارگذاری فایل
                                    </label>
                                    <span asp-validation-for="EpisodeFile" id="EpisodeFileChecker" class="block text-xs sm:font-semibold text-red-600 relative right-1 mt-2"></span>
                                </div>

                                <div class="flex items-center mx-2 my-4">
                                    <input type="checkbox" asp-for="IsFree" class="w-4 h-4 cursor-pointer text-black bg-gray-300 border-none rounded-md focus:ring-transparent" />
                                    <label class="text-sm mx-2">
                                        رایگان است؟
                                    </label>
                                </div>
                            </div>
                            <div class="grid sm:grid-cols-2 mb-4 mx-2">
                                <button type="submit" class="bg-green-500 border shadow-lg border-green-600 px-4 h-10 text-slate-100 rounded-lg hover:bg-green-600 transition-colors duration-300">افزودن قسمت</button>
                            </div>
                        </form>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <link href="/css/jalalidatepicker.min.css" rel="stylesheet" />
    <script src="/js/jalalidatepicker.min.js"></script>
    <script asp-append-version="true" src="/AdminStyles/js/ManageCourseEpisodes/addOrEditCourseEpisodes.js"></script>
}