<ul class="hidden md:flex font-light items-center mt-2">
    <li class="mx-4 md:text-hover-bg-white md:text-hover-bg-white-underline-opening"><a href="/Home/Courses">دوره ها</a></li>
    <li class="mx-4 md:text-hover-bg-white md:text-hover-bg-white-underline-opening"><a href="/Home/Teachers">مدرسین</a></li>
    <li class="mx-4 md:text-hover-bg-white md:text-hover-bg-white-underline-opening"><a href="#">درباره ما</a></li>
    <li class="mx-4 md:text-hover-bg-white md:text-hover-bg-white-underline-opening"><a href="#">تماس با ما</a></li>
</ul>