<footer class="w-full bg-indigo-700 rounded-t-3xl p-6 h-16 text-slate-50">
    <!-- Link Contact -->
    <div class="flex items-center w-full h-full justify-around">
        <!-- Whatsapp Link -->
        <a href="https://wa.me/+989032594838" class="relative top-1 text-center">
            <span class="text-2xl text-green-700 bg-slate-50 px-2 rounded-full">
                <i class="fab fa-whatsapp" aria-hidden="true"></i>
            </span>
        </a>
        <!-- End Whatsapp Link -->
        <!-- Instagram Link -->
        <a href="https://www.instagram.com/m._.tadayon._.m/" class="relative top-1 text-center">
            <span class="text-2xl bg-slate-50 px-2 rounded-full">
                <i class="fab fa-instagram instagram-gradient" aria-hidden="true"></i>
            </span>
        </a>
        <!-- End Instagram Link -->
        <!-- Telegram Link -->
        <a href="https://telegram.me/MTediM" class="relative top-1 text-center">
            <span class="text-2xl text-blue-600 bg-slate-50 px-2 rounded-full">
                <i class="relative right-[2px] fas fas fa-paper-plane" aria-hidden="true"></i>
            </span>
        </a>
        <!-- End Telegram Link -->
        <!-- Github Link -->
        <a href="https://github.com/MTediM" class="relative top-1 text-center">
            <span class="text-2xl text-black bg-slate-50 px-2 rounded-full">
                <i class="fab fa-github" aria-hidden="true"></i>
            </span>
        </a>
        <!-- End Github Link -->
    </div>
    <!-- End Link Contact -->
</footer>
