@using Core.CustomResults;
@model MessageCardInfo

<div id="Bg-Navbar-Black" class="z-[1004] overflow-hidden flex justify-center items-center w-full h-full fixed bg-black bg-opacity-50 top-0 right-0">
    <div id="notice" class="scale-up-center w-64 bg-slate-100 rounded-md p-2">
        <!-- Header -->
        <div class="w-full h-24 flex justify-center items-center">
            @if (Model.Status == MessageCardStatus.Ok)
            {
                <span><i class="fa fa-circle-check text-6xl text-green-500"></i></span>
            }
            else if (Model.Status == MessageCardStatus.Error)
            {
                <span><i class="fa fa-warning text-6xl text-red-500"></i></span>
            }
            else
            {
                <span><i class="fa fa-warning text-6xl text-yellow-500"></i></span>
            }
        </div>
        <!-- End Header -->
        <div class="w-full h-auto">
            <h1 class="font-semibold text-lg text-center">@Model.Title</h1>
            <p class="text-sm text-center mt-2">
                @Html.Raw(Model.Message)
            </p>
        </div>
        <div class="w-full h-12 flex justify-center items-end">
            @if (Model.Status == MessageCardStatus.Ok)
            {
                <button id="ok" class="w-16 h-8 bg-green-500 text-slate-50 text-sm rounded-md" type="button">فهمیدم</button>
            }
            else if (Model.Status == MessageCardStatus.Error)
            {
                <button id="ok" class="w-16 h-8 bg-red-500 text-slate-50 text-sm rounded-md" type="button">فهمیدم</button>
            }
            else
            {
                <button id="ok" class="w-16 h-8 bg-yellow-500 text-slate-50 text-sm rounded-md" type="button">فهمیدم</button>
            }
        </div>
    </div>
</div>

<script asp-append-version="true" src="/js/notice.js"></script>