@{
    ViewData["Title"] = "مدیریت دوره ها";
}
<div class="w-full px-6 py-6 mx-auto" style="z-index:999;">
    <!-- table 1 -->
    <div id="info"></div>
    <div class="flex flex-wrap -mx-3">
        <div class="flex-none w-full max-w-full px-3">
            <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
                <div class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                    <h6 class="dark:text-white">@ViewData["Title"]</h6>
                </div>
                <div class="flex-auto px-0 pt-0 pb-2">
                    <div class="header-options">
                        <a class="px-8 py-2 text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px" asp-controller="ManageCourses" asp-action="AddCourse">افزودن دوره جدید</a>
                        <form id="form-info" class="get-course" method="post" action="/Admin/ManageCourses/GetCourses/GetDeletedCourses" class="deleted-or-active-group">
                            <button type="button" class="px-8 py-2 text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px"> دوره های حذف شده </button>
                        </form>
                    </div>
                    <div class="relative items-stretch w-full transition-all rounded-lg ease">
                    </div>
                    <div class="p-0 overflow-x-auto ps">
                        <table class="items-center w-full mb-0 align-top border-collapse dark:border-white/40 text-slate-500">
                            <thead class="align-bottom">
                                <tr>
                                    <th class="px-6 py-3 font-bold text-right align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">عنوان دوره</th>
                                    <th class="px-6 py-3 font-bold text-right align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">مدرس دوره</th>
                                    <th class="px-6 py-3 font-bold text-right align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">قیمت دوره</th>
                                    <th class="px-6 py-3 font-bold text-right align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">تاریخ ایجاد دوره</th>
                                    <th class="px-6 py-3 font-bold text-center align-middle bg-transparent border-b border-collapse border-solid shadow-none dark:border-white/40 dark:text-white text-xxs tracking-none whitespace-nowrap text-slate-400 opacity-70">تنظیمات</th>
                                </tr>
                            </thead>
                            <tbody id="result">
                            </tbody>
                        </table>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#result").load("/Admin/ManageCourses/GetCourses/GetAllCourses");

        const frm = document.querySelector('.get-course');
        const btn = frm.querySelector('button');
        btn.addEventListener('click' , function(){
            let action = frm.getAttribute('action');
            if (action === '/Admin/ManageCourses/GetCourses/GetDeletedCourses') {
                frm.setAttribute('action', '/Admin/ManageCourses/GetCourses/GetAllCourses');
                btn.innerText = 'دوره های فعال';
            }
            else{
                frm.setAttribute('action', '/Admin/ManageCourses/GetCourses/GetDeletedCourses');
                btn.innerText = 'دوره های حذف شده ';
            }
        });
    </script>
}

