@using Core.CustomResults;
@using Services.DTOs.UserPanel;
@model ChangePasswordDto
@{
    ViewData["Title"] = "تغییر رمز عبور";
}


<section class="w-[85%] md:w-3/4">
    <!-- Rout -->
    <article class="flex justify-center text-sm md:text-base w-full h-12 md:h-16 mt-8 md:mt-4 md:mb-6">
        <div class="w-11/12 border border-slate-300 rounded-xl shadow-xl bg-slate-50">
            <ul class="flex flex-wrap h-full items-center pr-4 font-bold text-gray-500">
                <li class="relative top-1">
                    <span class="text-base md:text-lg lg:text-xl mx-1 sm:mx-2 md:mx-3">
                        <i class="fi fi-rr-angle-small-left"></i>
                    </span>
                    <a href="/" class="text-base md:text-lg lg:text-xl hover:text-indigo-700 transition-colors duration-300"><i class="fi fi-rr-home"></i></a>
                </li>
                <li class="text-[12px] sm:text-sm md:text-base">
                    <a href="/UserPanel" class="inline-block relative bottom-[px] hover:text-indigo-700 transition-colors duration-300">پنل کاربری</a>
                    <span class="text-base md:text-lg lg:text-xl mx-1 sm:mx-2 md:mx-3 relative top-1">
                        <i class="fi fi-rr-angle-small-left"></i>
                    </span>
                </li>
                <li class="text-indigo-700 text-[12px] sm:text-sm md:text-base">
                    <p>@ViewData["Title"]</p>
                </li>
            </ul>
        </div>
    </article>
    <!-- End Rout -->

    <article class="flex justify-center text-sm sm:text-base lg:text-sm xl:text-base w-full mt-8 md:mt-4 mb-6">
        <div class="w-11/12 border border-slate-300 rounded-xl drop-shadow-xl shadow-lg bg-slate-50 overflow-hidden">
            <div class="mr-3 sm:mr-6 mt-6 text-[15px] sm:text-base md:text-lg font-semibold">
                <p>@ViewData["Title"] :</p>
            </div>
            <div class="flex justify-center px-2 sm:px-4 mt-5">
                <form id="form" method="post" class="grid grid-cols-1 gap-6 text-sm w-full sm:w-11/12">

                    <div id="profile-dashbord" class="text-gray-700">
                        <label class="cursor-text relative">
                            <i class="fi fi-rr-eye relative top-1 pl-[6px] text-gray-400"></i>
                            رمز عبور فعلی :
                        </label>
                        <input type="text" asp-for="Password" id="Password" class="text-sm w-full py-2 px-4 mt-2 bg-slate-10 border-[2px] focus:bg-sky-50 focus:border-gray-400 focus:shadow-md transition-all duration-300 rounded-lg outline-none">
                        <span asp-validation-for="Password" class="block text-xs sm:font-semibold text-red-600 relative right-1 mt-2"></span>
                    </div>

                    <div class="grid lg:grid-cols-2 gap-6">
                        <div id="profile-dashbord" class="text-gray-700">
                            <label class="cursor-text">
                                <i class="fa fa-eye relative top-0.5 pl-[6px] text-gray-400"></i>
                                رمز عبور جدید :
                            </label>
                            <input asp-for="NewPassword" id="NewPassword" data-min-chars="4" data-max-chars="40" class="w-full py-2 px-4 mt-2 bg-slate-10 border-[2px] focus:bg-sky-50 focus:border-gray-400 focus:shadow-md transition-all duration-300 rounded-lg outline-none">
                            <span asp-validation-for="NewPassword" class="block text-xs sm:font-semibold text-red-600 relative right-1 mt-2"></span>
                        </div>
                        <div id="profile-dashbord" class="text-gray-700">
                            <label class="cursor-text">
                                <i class="fa fa-eye relative top-0.5 pl-[6px] text-gray-400"></i>
                                تکرار رمز عبور جدید :
                            </label>
                            <input asp-for="ReNewPassword" id="ReNewPassword" data-max-chars="40" class="w-full py-2 px-4 mt-2 bg-slate-10 border-[2px] focus:bg-sky-50 focus:border-gray-400 focus:shadow-md transition-all duration-300 rounded-lg outline-none">
                            <span asp-validation-for="ReNewPassword" class="block text-xs sm:font-semibold text-red-600 relative right-1 mt-2"></span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Version" />
                    <div class="grid lg:grid-cols-2 gap-6 mb-4">
                        <button type="submit" class="bg-yellow-500 border-[1px] shadow-lg border-yellow-600 w-full h-10 text-slate-100 rounded-lg hover:bg-yellow-600 transition-colors duration-300">ثبت تغییرات</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

@if (ViewBag.ConCurrency == true)
{
    {
        var card = new MessageCardInfo("خطای همزمانی", "متاسفانه داده های قبلی با داده های اصلی در سرور مغایرت داشت.لطفا دوباره امتحان کنید.", MessageCardStatus.Error);
        <partial name="_MessageCardInfo" model="@card" />
    }
}

@section Scripts{
    <script src="/UserPanel/changePassword.js"></script>
}