@{
    ViewData["Title"] = "صفحه مورد نظر یافت نشد";
}

@section Header{
    <header>
        <!-- NavBar -->
        <partial name="_HomeNavBar" />
        <!-- End NavBar -->

        <div class="h-12 flex text-xs md:text-base items-center md:justify-between w-full text-slate-100 bg-indigo-700 shadow-2xl rounded-b-3xl sm:h-16">
        </div>

        <!-- Rout -->
        <section class="flex justify-center text-sm md:text-base w-full h-16 max-h-24 mt-8 md:mt-4 md:mb-6">
            <div class="w-11/12 border border-slate-300 rounded-xl shadow-xl bg-slate-50">
                <ul class="flex flex-wrap h-full items-center pr-4 font-bold text-gray-500">
                    <li class="relative top-1">
                        <span class="text-base md:text-lg mx-2 md:mx-3">
                            <i class="fi fi-rr-angle-small-left"></i>
                        </span>
                        <a href="/Home" class="text-lg md:text-xl hover:text-indigo-700"><i class="fi fi-rr-home"></i></a>
                    </li>
                    <li class="text-indigo-700 text-[12px] sm:text-sm md:text-base">
                        <p>Error 404</p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End Rout -->
        <!-- Navbar Course -->
        @*@await Component.InvokeAsync("CourseGroupComponent")*@
        <!-- End Navbar Course -->
    </header>
}

<partial name="_Error404" />

@section Footer{
    <partial name="_Footer" />
}
