@using Services.DTOs.AdminPanel.Role;
@model GetRolesForUserDto

@foreach (var userHasRole in Model.UserIsInRoles.OrderBy(r => r.RoleId))
{
    <tr>
        <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
            <h6 class="mb-0 text-sm leading-normal dark:text-white">@userHasRole.RoleName</h6>
        </td>
        <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent text-center">
            <span class="text-sm font-semibold leading-tight dark:text-white dark:opacity-80"> <i class="fa fa-check text-green-500" aria-hidden="true"></i> </span>
        </td>
        <td class="p-2 py-20px align-middle flex justify-center bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
            @if (userHasRole.RoleName == "مدیر سایت" || userHasRole.RoleName == "کاربر عادی")
            {
                <p class="text-sm m-0">این نقش قابل حذف نیست.</p>
            }
            else
            {
                <form id="form-info" method="post" action="/Admin/ManageUsers/DeleteRoleFromUser/@userHasRole.UserId/@userHasRole.RoleId">
                    @Html.AntiForgeryToken()
                    <button type="button" class="text-xs rounded-lg py-2 px-4 bg-slate-100 font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400"> حذف نقش </button>
                </form>
            }
        </td>
    </tr>
}

@foreach (var userHasNotRole in Model.UserIsNotInRoles.OrderBy(r => r.RoleId))
{
    <tr>
        <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
            <h6 class="mb-0 text-sm leading-normal dark:text-white">@userHasNotRole.RoleName</h6>
        </td>
        <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent text-center">
            <span class="text-sm font-semibold leading-tight dark:text-white dark:opacity-80"> <i class="fa fa-close text-red-500" aria-hidden="true"></i> </span>
        </td>
        <td class="p-2 py-20px align-middle flex justify-center bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
            <form id="form-info" method="post" action="/Admin/ManageUsers/AddRoleToUser/@userHasNotRole.UserId/@userHasNotRole.RoleId">
                @Html.AntiForgeryToken()
                <button type="button" class="text-xs rounded-lg py-2 px-4 bg-slate-100 font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400"> اضافه کردن نقش </button>
            </form>
        </td>
    </tr>
}

<script asp-append-version="true" src="/AdminStyles/js/ManageUsers/GetRolesForUser.js"></script>
